* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedorPrincipal {
    background-color: #0c0a22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
img {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
